<div class="posts">
  <div>
     <%= render partial: "users/user_info", locals: { user: @user } %>
  </div>
  
  <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= link_to 'New Post', new_user_post_path %>

  <ul class='posts-container'>
    <% @posts.each_with_index do |post, i| %>
      <li>
        <%= link_to "/users/#{@user.id}/posts/#{post.id}", class:"post" do %>
          <%= render partial: "posts/post_info", locals: { post: post } %>
        <% end %>
        <ul class="comment-container">
          <% post.display_five_recent_comments.includes([:user]).each do |comment| %>
            <li class="comment">
              <p><%= comment.user.name %>: <%= comment.text %></p>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  
  <%= will_paginate %>
</div>
